* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: gray;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

div h2 {
  padding: 10px;
}

.box-2 {
  display: flex;
}

.list-box {
  overflow-x: hidden;
  overflow-y: auto;
  list-style-type: decimal !important;
  list-style-position: inside;
  padding: 0;
  height: 300px;
  /* Adjusted to make the list scrollable */
}

.list-box li {
  background-color: aliceblue;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  padding: 10px;
  margin: 5px 0;
  /* Add some space between items */
  display: flex;
  justify-content: space-between;
}

.strikethrough {
  text-decoration: line-through;
  color: gray;
}

.box-2 input {
  height: 30px;
}

.box-2 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.main-box {
  display: flex;
  height: 400px;
  width: 400px;
  flex-direction: column;
  align-items: center;
  background-color: wheat;
  border-radius: 20px;
  box-shadow: 10px 20px 10px;
}

.disabled-button {
  opacity: 0.5;
  pointer-events: none;
}